:host { 
  display: block; 
}

.projects-headline-wrap {
  width: min(100%, 1439px);
  height: 65px;
  margin: 120px auto 0;
  box-sizing: border-box;
  padding-left: min(9.7vw, 541px);
  padding-right: min(9.7vw, 541px);
  display: flex;
  gap: 10px;
}

.projects-headline {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.projects-headline__title {
  margin-bottom: 160px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: min(8vw, 54px);
  line-height: 120%;
  letter-spacing: 0;
  color: #E15544;
  white-space: nowrap;
}
