<section id="hero" class="hero">
  <div class="hero_box">

    <div class="hero__arrow">
      <a href="#anchor1" (click)="scrollDown(); $event.preventDefault()" aria-label="Scroll down">
        <img src="assets/img/Arrow.down.png" alt="">
      </a>
    </div>

    <button id="contact_me" class="contact_me">CONTACT ME</button>

    <div class="hero__intro">
      <h2 class="job-title">FRONTEND DEVELOPER</h2>
      <h3 class="name">Daniel Kwiatkowski</h3>
    </div>

    <div class="hero__image">
      <img src="../../../assets/img/Daniel_Profil_1.jpg" alt="Profilbild Daniel Kwiatkowski">
    </div>

  </div>
</section>
