<!-- Nur leere Sektionen mit IDs als Platzhalter -->
<section id="hero" style="min-height:40vh"></section>
<section id="why-me"></section>
<section id="skills"></section>
<section id="projects"></section>
<section id="contact"></section>


<!-- <app-hero></app-hero>

<section id="why-me">
  <app-why-me></app-why-me>
</section>

<section id="skills">
  <app-skills></app-skills>
</section>

<section id="projects">
  <app-projects-headline></app-projects-headline>
  <app-projects-list></app-projects-list>
</section>

<section id="references">
  <app-references></app-references>
</section>

<section id="contact">
  <app-contact></app-contact>
</section> -->
